main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-link {
  margin: 50px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  background-color: #6e860e;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
